{% extends 'base.html.twig' %}

{% block title %}Shopping Lists{% endblock %}

{% block body %}

    <ul>
    {% for list in shoppingLists %}
        <li><a href="{{ path("shopping_list_single", {"id": list.id}) }}">{{ list.name }}</a></li>
    {% endfor %}
    </ul>

    <a href="{{ path("shopping_list_new") }}" class="button">Add new list</a>

{% endblock %}
