{% extends 'base.html.twig' %}

{% block title %}Shopping Lists{% endblock %}

{% block body %}

    <ul>
    {% for list in shoppingLists %}
        <li>{{ list.name }}</li>
    {% endfor %}
    </ul>

{% endblock %}
